body {
  padding-top: 0px !important;
  padding-left: 20px;
  font-size: 12px;
}

@media print {
  .trombi-entry:nth-child(12n+0) {
    page-break-after: always;
  }
}

.details > .trombi-entry > .thumbnail {
  border: 0px;
  height: 310px;
}

.no-details > .trombi-entry > .thumbnail {
  border: 0px;
  height: 200px;
}

.no-details > .trombi-entry .caption {
  position: absolute;
  top: 0px;
  left: -10px;
}

.trombi-entry > .thumbnail > img {
  max-height: 200px;
}
